html {
  --background: #fae;
  --foreground: #bfa;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--foreground);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

img {
  border: 0.5rem solid var(--foreground);
  border-radius: 2rem;
  padding: 1rem;
}

a {
  color: var(--foreground);
  font-size: 2rem;
  font-family: monospace;
}
